.container__meetups {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #fff;
}

@media only screen and (max-width: 1300px) {
  .container__meetups {
    justify-content: center;
  }
}